<div style="padding: 0 20px">
    <form id="form_categorias">
    {% for categoria in categorias %}
        <div class="checkbox">
            <label>
              <input type="checkbox" name="{{ categoria.nombre }}" value="{{ categoria.id }}">
              {{ categoria.nombre }}
            </label>
        </div>
    {% endfor %}
    </form>
</div>